{% extends '_base.html' %}
{% block title %}
  My Projects
{% endblock title %}
{% block content %}
  <h1>My Projects</h1>
  {% if project_list %}
    {% for project in project_list %}
      <article>
        <h2>
          <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
        </h2>
      </article>
    {% endfor %}
  {% else %}
    <p>You don't have any projects yet</p>
    <a href="{% url 'projects:create' %}" role="button">Add Project</a>
  {% endif %}
{% endblock content %}
