{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.4"
            integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
            crossorigin="anonymous"></script>
    <title>
      {% block title %}
        Push
      {% endblock title %}
    </title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <a href="{% url 'pages:home' %}">Push</a>
          </li>
        </ul>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'projects:create' %}" role="button">Add Project</a>
            </li>
            <li>
              <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link">Welcome, {{ user.first_name }}</summary>
                <ul role="listbox">
                  <li>
                    <a href="{% url 'projects:my_projects' %}">My Projects</a>
                  </li>
                  <li>
                    <a href="{% url 'accounts:update' %}">Edit Info</a>
                  </li>
                  <li>
                    <a href="{% url 'account_change_password' %}">Change Password</a>
                  </li>
                  <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                  </li>
                </ul>
              </details>
            </li>
          {% else %}
            <li>
              <a href="{% url 'account_login' %}">Login</a>
            </li>
            <li>
              <a href="{% url 'account_signup' %}">Sign Up</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="container">
      <a href="#">About</a>
    </footer>
  </body>
</html>
